.futured__block{
  margin: 90px auto;
  .futured__title{
    font-size: 26px;
    letter-spacing: 2.6px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center ;
  }
  .futured__items{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .futured__item{
      flex-basis: 23%;

    img{
      display: block;
      max-width: 100%;
      margin-bottom: 15px;
    }
      p{
        margin: 15px auto;
        font-size: 15px;
        line-height: 16px;
        letter-spacing: 1px;
        color:$black;
        font-weight: 700;
        a{
          text-decoration: none;
          color:$black;
          font-weight: 700;
          &:hover{
            text-decoration: underline;
          }
        }
      }
      .futured__brand{
        color: #ababab;
      }
      .futured__price{
        span{
          text-decoration: line-through;
          margin-right: 10px;
        }
      }
   }
  }
.futured__btn{
  $values:(bg:$white,clr:$black,w:175px,br:60px,fs:12px ,ls:0.6px , lh:20px);
  @include btn($values...){
    border: 2px solid #d9c8aa;
    padding: 18px 0;
    margin: 50px auto;
  };
}
  .owl-nav{
    button.owl-prev, button.owl-next{
      background: url("../../img/sprite-arrow2.png") 0 0 no-repeat;
      width: 49px;
      height: 49px;
      border: none;
      box-shadow: none;
      position: absolute;
      left: -55px;
      top:calc(50% - 49px);
      cursor: pointer;
      transform: translateY(-50%);
    }
    button.owl-prev{
      &:hover{
        background-position: 0 -49px;
      }
    }
    button.owl-next{
      background-position: -49px 0;
      left: auto;
      right:-55px;
      &:hover{
        background-position: -49px -49px;
      }
    }
  }
}
@media (max-width: 1300px) {
  .futured__block {
    max-width: calc(100% - 100px);
    margin: 90px auto;
  }
}
@media (max-width: 680px) {
  .futured__block {
    margin: 25px auto;
  }
}